.search-bar {
   margin: 20px;
   text-align: center;
}

.search-bar input {
   width: 75%;
}

.image-item img {
   max-width: 64px;
}

.image-detail .details {
   margin-top: 10px;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
}

.list-group-item {
   cursor: pointer;
}

.list-group-item:hover {
   background-color: #eee;
}

.media-heading {
   max-width: 320px;
}

.container {
   text-align: center;
}

body {
   text-align: center;
}

.list-inline-item {
   vertical-align: top;
}
